/*Colores*/
$redhappy      : #F40048;
$white         : #fff;
$black         : #000;
/* Fuentes */
$font-path     : 'Pathway Gothic One', sans-serif;
$font-oswald   : 'Oswald', sans-serif;
$font-cardo    : 'Cardo', serif;
/* Line height */
$line-height   : 1.5;
$line-height-xs: 1;
