@mixin rollover {
  transition: all 400ms ease-out;

  &:active {
    transition: all 200ms ease-out;
  }
}

a:focus {
  color: $white;
}

.section--home {
  background-image: linear-gradient(0deg, #FF0063 0%, #B6153F 100%);
  height          : 630px;
  @include media-breakpoint-down(md) {
    height: 80vh;
  }
}

.section--barbas {
  padding: 50px 0 0;
  @include media-breakpoint-up(md) {
    padding: 100px 0 50px;
  }
}

.section--robot {
  padding            : 76px 0;
  min-height         : 500px;
  background-image   : url('../images/bg-robot.png');
  background-position: 45% 0;
  margin             : -32px 0;
  background-repeat  : no-repeat;
  background-size    : cover;
  @include media-breakpoint-up(md) {
    padding            : 100px 0;
    background-position: center;
    margin             : 0;
  }
}

.u-element-center {
  display        : flex;
  justify-content: center;
  align-items    : center;
  resize         : both;
  overflow       : auto;
}

.btn {
  font-family   : $font-oswald;
  text-transform: uppercase;
  background    : #F40048;
  border-radius : 5px;
  color         : $white;
  padding       : 15px 18px;
  font-size     : 19px;
  @include rollover;

  &:hover {
    background-color: #dc0041;
    color           : $white;
  }
}

.divider--20 {
  height: 70px;
  @include media-breakpoint-up(md) {
    height: 150px;
  }
}

.text-footer {
  font-family: $font-path;
  font-size  : 17px;
  @include media-breakpoint-down(lg) {
    font-size: 15px;
  }
  color      : #ababab;
}

.nav-bg {
  background-color: #B7153F;
}

.nav-link {
  color      : $white;
  font-family: $font-path;
  @include rollover;

  &:hover {
    opacity: 0.6;
    color  : $white;
  }
}

.navbar-brand {
  img {
    position: relative;
    top     : -3px;
  }
}

.navbar-toggleable-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left : 1rem;
}

.navbar-toggler-icon {
  background-image   : url('../images/ham.svg');
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : contain;
}

button:focus {
  outline: 0;
}

.video-responsive {
  @include media-breakpoint-down(md) {
    overflow      : hidden;
    padding-bottom: 56.25%;
    position      : relative;
    height        : 0;
  }
}

.video-responsive iframe {
  @include media-breakpoint-down(md) {
    height  : 100%;
    width   : 100%;
    left    : 0;
    top     : 0;
    position: absolute;
  }
}

.bg-section {
  background-image   : url('../images/bg-section.png');
  background-position: 95% 0;
  background-repeat  : no-repeat;
}

#embed-canvas {
  canvas {
    top     : 0px !important;
    left    : 0px !important;
    position: relative !important;
    width   : 100% !important;
    height  : auto !important;
  }
}

#barbas {
  canvas#defaultCanvas0 {
    position: relative !important;
    top     : 0 !important;
    left    : 0 !important;
    width   : 100% !important;
    height  : auto !important;
  }
}

video {
  position: initial !important;
  width   : 100% !important;
  height  : auto !important;
}

.text-footer__rigth {
  text-align: left;
  @include media-breakpoint-up (md) {
    text-align: right;
  }
}

.embed-barbas-canvas {
  width: 100%;
  @include media-breakpoint-down(md) {
    width      : 95%;
    margin-left: 15px;
  }
}

.btn-cam {
  background-image   : url('../images/cam.svg');
  background-position: center;
  background-repeat  : no-repeat;
  padding            : 30px 100px;
}

.text-cam {
  font-size: 14px;
}

.text-cam__inf {
  font-family: $font-path;
  font-size  : 20px;
  color      : #0A0A0A;
}
